@model (AukcniSystem.Models.Aukce Aukce, double Zustatek)
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Klient> SignInManager
@inject UserManager<Klient> UserManager

<a href="/">Zpět na hlavní stránku</a>
<section>
	<img src="@Model.Aukce.Foto" class="tw-max-w-xs" />
	<h1>@Model.Aukce.Nazev</h1>
	<h2>@Model.Aukce.Popis</h2>
	<div class="tw-text-xl tw-font-semibold"><span id="cena">@Model.Aukce.Cena</span> Kč</div>
	<form id="form">
		<input type="number" id="castka" name="castka" placeholder="Minimální příhoz: @Model.Aukce.MinimalniPrihoz @(Model.Aukce.PrihozeniPoCastce ? "Kč" : "%")" />
		<button class="btn btn-primary" type="submit">Přihodit</button>
	</form>
	<div>Datum zahájení: @Model.Aukce.Datum</div>
	<div>Doba trvání: @Model.Aukce.DobaTrvani</div>
</section>

@section Scripts {
	<script>
		const aukceId = @Model.Aukce.AukceId;
		const zustatek = @Model.Zustatek;
		const connection = new signalR.HubConnectionBuilder().withUrl('/aukceHub').configureLogging(signalR.LogLevel.Information).build();
		connection.on('Aktualizovat', (castka) => {
			document.getElementById('cena').innerText = castka;
		});
		document.getElementById('form').addEventListener('submit', function (e) {
			e.preventDefault();
			console.log("test", +document.getElementById('castka').value);
			axios.post("/Home/Aukce/" + aukceId, { castka: +document.getElementById('castka').value });
			connection.invoke('Prihoz', aukceId, zustatek, +document.getElementById('castka').value);
		});
		connection.start();
	</script>
}